In [17]:
import os
import cv2
import tensorflow
import keras
import sklearn
import pandas as pd
import numpy as np

In [ ]:
# Process flow - 
'''
- View on number and size of images in each class
- Read in images
    - Convert to grayscale and resize as required
    - Perform sampling
- Define the CNN structure
- Train, optimize the model
- Test on validation set
    - k-fold
- Predict for test data
'''

In [6]:
# print the working directory
print('Current working directory : ', os.getcwd())

Current working directory :  C:\Users\rohan.nanaware\Documents\Rohan(local)\2 Non-Mu Sigma\HackerEarth

In [7]:
# print the folder names/ list of classes in train folder
data_dir  = os.getcwd()
train_dir = os.path.join(data_dir, 'train')
test_dir  = os.path.join(data_dir, 'test')
print('List of classes in train directory : ', os.listdir(train_dir))

List of classes in train directory :  ['0', '1', '10', '11', '12', '13', '14', '2', '3', '4', '5', '6', '7', '8', '9']

In [13]:
# list of classes in train directory
list_class_num = os.listdir(train_dir)
list_class_dct = {'0':'Blouse',
				  '1':'Cloak',
				  '2':'Coat',
				  '3':'Jacket',
				  '4':'Jersey',
				  '5':'Long Dress',
				  '6':'Polo Shirt',
				  '7':'Robe',
				  '8':'Shirt',
				  '9':'Short Dress',
				  '10':'Suit',
				  '11':'Sweater',
				  '12':'Undergarment',
				  '13':'Uniform',
				  '14':'Waistcoat'}

try:
    print('Checking if the dictionary was defined properly : ', list_class_dct['11'])
except Exception as e:
    print(e)

Checking if the dictionary was defined properly :  Sweater

In [16]:
# print the numeber of images per training class
for class_num, class_str in list_class_dct.items():
	print('{} images of {} class'.format(len(os.listdir(os.path.join(train_dir, class_num))), class_str))

784 images of Blouse class
6186 images of Cloak class
7936 images of Coat class
8203 images of Jacket class
8835 images of Jersey class
683 images of Long Dress class
5083 images of Polo Shirt class
1248 images of Robe class
3752 images of Shirt class
5301 images of Short Dress class
4560 images of Suit class
1248 images of Sweater class
4848 images of Undergarment class
2935 images of Uniform class
656 images of Waistcoat class

In [18]:
# create a lookup file for the train & test data
train = []
for class_num, class_str in list_class_dct.items():
	for file in os.listdir(os.path.join(train_dir, class_num)):
		train.append(['train/{}/{}'.format(class_num, file), file, class_num, class_str])

train_df = pd.DataFrame(train, columns = ['filepath', 'file', 'class_num', 'class_str'])
print('Size of train data : ', train_df.shape)

test = []
for file in os.listdir(test_dir):
	test.append(['test/{}'.format(file), file])

test_df = pd.DataFrame(test, columns = ['filepath', 'file'])
print('Size of test data : ', test_df.shape)

Size of train data :  (62258, 4)
Size of test data :  (21273, 2)

In [24]:
train_df.head()

                        filepath                   file class_num class_str
0  train/0/n02854926_10038_0.jpg  n02854926_10038_0.jpg         0    Blouse
1   train/0/n02854926_1007_0.jpg   n02854926_1007_0.jpg         0    Blouse
2  train/0/n02854926_10085_0.jpg  n02854926_10085_0.jpg         0    Blouse
3  train/0/n02854926_10122_0.jpg  n02854926_10122_0.jpg         0    Blouse
4  train/0/n02854926_10144_0.jpg  n02854926_10144_0.jpg         0    Blouse

In [25]:
test_df.head()

                     filepath                   file
0  test/n02667093_10298_0.jpg  n02667093_10298_0.jpg
1   test/n02667093_1089_0.jpg   n02667093_1089_0.jpg
2    test/n02667093_113_0.jpg    n02667093_113_0.jpg
3   test/n02667093_1142_0.jpg   n02667093_1142_0.jpg
4   test/n02667093_1172_0.jpg   n02667093_1172_0.jpg